<ion-header>
  <ion-toolbar>
    <ion-title>Přihlášení</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="openAbout()">
        <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="ion-text-center ion-padding-vertical">
    <img src="/assets/images/logo.png"/>
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <app-form-control-error [control]="loginForm.controls.email"></app-form-control-error>

    <ion-item>
      <ion-label position="stacked">Heslo</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <app-form-control-error [control]="loginForm.controls.password"></app-form-control-error>

    <ion-button padding expand="full" color="primary" type="submit">Přihlásit se</ion-button>
  </form>
</ion-content>
