<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Seznam tasků
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item [routerLink]="'/tasks/' + task.id" routerDirection="forward" *ngFor="let task of tasks">
      <ion-label text-wrap>
        {{task.subject}} (
        <task-state-indicator [state]="task.state"></task-state-indicator>
        )
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
