<ion-header>
  <ion-toolbar>
    <ion-title>authenticate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="ion-text-center ion-padding-vertical">
    <img src="/assets/images/logo.png"/>
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <ion-button padding expand="full" color="primary" type="submit">Log In</ion-button>
  </form>
</ion-content>
