<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>O nás</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>Vývojáři</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="/assets/images/zapotocnylubos.jpeg">
      </ion-thumbnail>
      <ion-label text-wrap>
        <strong>Luboš Zápotočný</strong><br>
        Hlavní vývojář této mobilní appky.
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
