<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tasks"></ion-back-button>
    </ion-buttons>
    <ion-title>Detail tasku</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="task">
    <ion-item lines="none">
      <strong>Task: </strong>{{task.subject}}
    </ion-item>
    <ion-item lines="none">
      <strong>Datum: </strong> {{task.created_at|date:'longDate'}}
    </ion-item>
    <ion-item lines="none">
        <strong>Autor: </strong> {{task.author.fullName}}
    </ion-item>
    <ion-item lines="none">
      <strong>Popis: </strong> {{task.issue}}
    </ion-item>
  </ion-list>
</ion-content>