<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tasks"></ion-back-button>
    </ion-buttons>
    <ion-title>Detail tasku</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="task">
    <ion-item>
      <ion-label>Předmět</ion-label>
      <ion-note slot="end">{{task.subject}}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Stav</ion-label>
      <ion-note slot="end">
        <task-state-indicator [state]="task.state"></task-state-indicator>
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Datum vytvoření</ion-label>
      <ion-note slot="end">{{task.created_at|date}}</ion-note>
    </ion-item>
    <ion-item [lines]="!task.issue && 'none'">
      <ion-label>Autor</ion-label>
      <ion-note slot="end">{{task.author.fullName}}</ion-note>
    </ion-item>

    <ng-container *ngIf="task.issue">
      <ion-item lines="none">
        <ion-label>Popis</ion-label>
      </ion-item>
      <ion-item lines="none">
        {{task.issue}}
      </ion-item>
    </ng-container>
  </ion-list>
</ion-content>
