<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Task List</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-searchbar></ion-searchbar>
  <ion-list>
    <ion-item-group *ngFor="let value of data">
      <ion-item-divider color="light" *ngIf="value">{{value.date}}</ion-item-divider>
      <ion-item>
        {{value.description}}
        <ion-icon name="arrow-down" item-end></ion-icon>
      </ion-item>
      <ion-item>
        {{value.description}}
        <ion-icon name="arrow-down" item-end></ion-icon>
      </ion-item>
    </ion-item-group>
  </ion-list>
  <ion-fab left bottom>
    <button ion-fab color="blue"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
