body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.red-background{
  background-color: #d84040;
}
.fixed-square-200
{
  height: 200px;
  width:200px;
  margin:50px;
  background:#3f51b5 !important;
  color:white;
  box-shadow: 0px 4px 2px 0px gray !important;
}
.green-background{
  background-color:#0eaf0e;
}
.fixed-square-200:hover{
  background: #2c387e !important;
  cursor: pointer;
}
.fixed-square-200:active {
  background-color: #3e8e41;
  box-shadow: 0 0px gray !important;
  transform: translateY(4px);
}

.flex
{
  display:inline-flex;
}
.orange-background{
  background-color: #ffa500;
}
h1 { 
  color: rgb(41, 41, 153);
   font-family: 'Raleway',sans-serif;
    font-size: 62px; font-weight: 700;
     line-height: 65px; margin: 100px 0 24px;
      text-align: center;
       text-transform: uppercase;
       }
h2{
  text-align:center;
    font-family:'Raleway',sans-serif;
      color:rgb(41, 41, 153);
        margin:20px 0 0 0}
p { 
  color: rgb(41, 41, 153);
   font-family: 'Raleway',sans-serif;
    font-size: 18px;
     font-weight: 500;
      line-height: 32px;
       margin: 20px 0 24px;
        text-align:center;
       }

.bluebutton{
  margin:auto !important;
  display: flex !important;
  font-family: 'Raleway',sans-serif;
}





/*hamburger*/
.hamburger {
  display: none;
  position: absolute;
  right: 5px;
  top:0;
}

@media (max-width: 700px) {
  .hamburger {
    display: unset;
  }
  .nav-items{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  .flex-direction-column{
    flex-direction: column;
  }
}
#check {
  display: none;
}





#check:checked  ~ .nav-items{
  display:flex;
  height: 240px;
  width: 100%;
}



.hamburger .line{
width: 50px;
height: 5px;
background-color: #ecf0f1;
display: block;
margin: 8px auto;
-webkit-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}

.hamburger:hover{
cursor: pointer;
}
/* SIX */

#hamburger-6.is-active{
-webkit-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
-webkit-transition-delay: 0.6s;
-o-transition-delay: 0.6s;
transition-delay: 0.6s;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
}

#hamburger-6.is-active .line:nth-child(2){
width: 0px;
}

#hamburger-6.is-active .line:nth-child(1),
#hamburger-6.is-active .line:nth-child(3){
-webkit-transition-delay: 0.3s;
-o-transition-delay: 0.3s;
transition-delay: 0.3s;
}

#hamburger-6.is-active .line:nth-child(1){
-webkit-transform: translateY(13px);
-ms-transform: translateY(13px);
-o-transform: translateY(13px);
transform: translateY(13px);
}

#hamburger-6.is-active .line:nth-child(3){
-webkit-transform: translateY(-13px) rotate(90deg);
-ms-transform: translateY(-13px) rotate(90deg);
-o-transform: translateY(-13px) rotate(90deg);
transform: translateY(-13px) rotate(90deg);
}
/*--hamburger*/