body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.red-background{
  background-color: red;
}
.green-background{
  background-color: green;
}
.orange-background{
  background-color: orange;
}
h1 { color: black; font-family: 'Raleway',sans-serif; font-size: 62px; font-weight: 800; line-height: 72px; margin: 0 0 24px; text-align: center; text-transform: uppercase; }

p { color: black; font-family: 'Raleway',sans-serif; font-size: 18px; font-weight: 500; line-height: 32px; margin: 0 0 24px; }